<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footprint Quiz</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'create_appointment.css' %}" />
  </head>
  <body>
    <form action="{% url 'carbon_quiz' %}" method="POST">
      {% csrf_token %}
      <div class="step1 step visible">
        <div class="energy-usage-container container">
          <h1 class="energy-usage-title form-title">Energy</h1>
          <p class="energy-usage-description description">
            Enter information about your energy usage.
          </p>

          <div class="energy-usage-quiz quiz-option">
            <label class="footprint-quiz-label" for=""
              >Enter your usage (kWh)</label
            >
            <input
              type="text"
              class="energy-usage option-btn-label"
              id="energy-usage-input"
              name="energy-usage"
              placeholder="0kWh"
            />
          </div>
        </div>

        <div class="transport-container container">
          <h1 class="transport-title form-title">Transport</h1>
          <p class="transport-description description">
            Enter information about your transport.
          </p>

          <div class="transportation-quiz quiz-option">
            <label class="personal-transport-label" for=""
              >How many miles do you travel a week?</label
            >
            <input
              type="text"
              class="personal-transport option-btn-label"
              id="personal-transport-input"
              name="personal-transport"
              placeholder="0mi"
              style="margin-bottom: 1rem"
            />

            <label class="public-transport-label" for=""
              >How many miles do you travel a week with public transport?</label
            >
            <input
              type="text"
              class="public-transport-label option-btn-label"
              id="public-transport-input"
              name="public-transport-input"
              placeholder="0mi"
            />
          </div>
        </div>

        <div class="food-intake-container container">
          <h1 class="food-intake-title form-title">Food intake</h1>
          <p class="food-intake-description description">
            Enter information about your food intake
          </p>

          <div class="food-intake-quiz quiz-option">
            <label class="food-intake-quiz-label" for=""
              >How many kg of meat do you eat a week?</label
            >
            <input
              type="text"
              class="food-intake option-btn-label"
              id="food-intake-input"
              name="food-intake"
              placeholder="0kg"
            />
          </div>
        </div>
      </div>

      <input
        type="submit"
        class="next-btn option-btn-label"
        style="width: 33%"
        id="next-btn"
        value="Submit"
        style="position: relative; top: -5rem"
      />
    </form>

    <script>
      function selectOnlyOne(selectedCheckbox) {
        selectedCheckbox
          .parentElement('input[type="checkbox"]')
          .forEach((cb) => {
            if (cb !== selectedCheckbox) cb.checked = false;
          });

        if (selectedCheckbox.id === "custom-bedrooms") {
          document
            .getElementById("custom-bedrooms-input")
            .classList.toggle("visible");
        }
      }
    </script>

    <style>
      input {
        text-align: left !important;
      }
    </style>
  </body>
</html>
