<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing Appointments</title>
</head>
<body>
    {% for appointment in appointments %}
        <div>
            <h2>Appointment ID: {{ appointment.id }}</h2>
            <p>Client Name: {{ appointment.client_name }}</p>
            <p>Date: {{ appointment.date }}</p>
            <p>Time: {{ appointment.time_choice }}</p>
            <p>Type: {{ appointment.type }}</p>
            <p>Energy Usage: {{ appointment.energy_usage }}</p>
            <p>Carbon Footprint: {{ footprint.carbon_footprint }}</p>

            
        </div>

        <form method="post" action="{% url 'complete_appointment' %}">
            {% csrf_token %}
            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
            <button type="submit" style="padding: 1rem; background-color: blue; border-radius: 50px; text-align: center; border: none;outline: none; color: white;">Complete Appointment</button>
        </form>
    {% endfor %}
</body>
</html>