body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #ccc;
  width: 200px;
}

.sidebar-button {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: none;
  text-align: left;
  cursor: pointer;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 0.9rem;
  width: 101%;
  box-sizing: border-box;
}

.sidebar-button.open {
    background-color: rgba(11, 214, 218, 0.086);
    border-right: 3px solid rgb(56, 56, 233);
}

.content-div {
  margin: 0 0 0 1rem;
}
